@inherits LayoutComponentBase

<div class="page">
	<main>
		<div class="top-row px-4 nav-bar">
			<a href="https://romecore.github.io/RCParsing/" target="_blank">Home</a>
			<a href="https://github.com/RomeCore/RCParsing" target="_blank">Repository</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

<style>

	.page {
		display: grid;
		grid-template-rows: 60px 1fr;
		height: 100vh;
	}

	.nav-bar {
		flex-shrink: 0;
		height: 60px;
		display: flex;
		align-items: center;
		padding: 0 20px;
		background: #eee;
	}

	.content {
		overflow: hidden;
	}

</style>