@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://romecore.github.io/RCParsing/" target="_blank">Home</a>
            <a href="https://github.com/RomeCore/RCParsing" target="_blank">Repository</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
