@using System.Text

<label>
	<input type="checkbox" checked="@optimizeAst" @onchange="CheckboxChanged" />
	Optimize tree?
</label>

@if (exception != null)
{
	<pre>
		<code>
			@exception.ToString().Replace("\t", "    ")
		</code>
	</pre>
}
else
{
	<div style="overflow-y: auto; border: 1px solid #ccc;">
		<MermaidDiagram Definition="@definition" />
	</div>
}

@code {
	#nullable disable

	private string definition;
	private ParsingException exception;
	private ParsedRuleResultBase originalAst;
	private bool optimizeAst = false;

	public void Render(ParsedRuleResultBase ast)
	{
		originalAst = ast;
		if (optimizeAst)
			ast = ast.Optimized();

		var sb = new StringBuilder();
		sb.AppendLine("flowchart TD");

		int counter = 0;
		var queue = new Queue<(ParsedRuleResultBase node, int? parentId, int id)>();
		queue.Enqueue((ast, null, counter));

		while (queue.Count > 0)
		{
			var (node, parentId, id) = queue.Dequeue();
			string nodeName = $"node{id}";
			bool isToken = node.IsToken;
			string nodeLabel = isToken && node.Length > 0 ? node.Text.Replace("\"", "#quot;") : node.Rule.ToString(0);

			sb.AppendLine($"    {nodeName}[\"{nodeLabel}\"]");

			if (parentId.HasValue)
			{
				string parentName = $"node{parentId.Value}";
				sb.AppendLine($"    {parentName} --> {nodeName}");
			}

			if (!isToken)
			{
				foreach (var child in node)
				{
					int childId = ++counter;
					queue.Enqueue((child, id, childId));
				}
			}
		}

		Render(sb.ToString());
	}

	private void CheckboxChanged(ChangeEventArgs e)
	{
		optimizeAst = (bool)e.Value;
		if (exception == null)
			Render(originalAst);
	}

	public void Render(string mermaid)
	{
		definition = mermaid;
		this.exception = null;
		InvokeAsync(StateHasChanged);
	}

	public void ShowException(ParsingException exception)
	{
		this.exception = exception;
		InvokeAsync(StateHasChanged);
	}
}