@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<div class="main-container">

	<div class="editor-container">

		<GrammarEditorComponent @ref="grammarEditor" />

		<MainEditorComponent @ref="mainEditor" />

	</div>

	<div>

		<ASTComponent @ref="ast" />

	</div>

</div>

<style>

	.editor-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	}

	.main-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	}

</style>

@code {
	#nullable disable

	private GrammarEditorComponent grammarEditor;
	private MainEditorComponent mainEditor;
	private ASTComponent ast;

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		grammarEditor.OnParserChanged += () => mainEditor.SetParser(grammarEditor.parser);
		mainEditor.OnParseStateChanged += () =>
		{
			if (mainEditor.exception != null)
				ast.ShowException(mainEditor.exception);
			else
				ast.Render(mainEditor.ast);
		};

		try
		{
			await Task.Delay(100);
			await grammarEditor.Update();
		}
		catch {}
	}
}